*{
font-family: 'Roboto', sans-serif;
background-color: #C39F66;
}
.titulo {
  font-family: 'Roboto', sans-serif;
}
.center{
  text-align: center;
}
.justify{
  text-align: justify;
}
.left{
  text-align: left;
}
#navegador ul{
   list-style-type: none;
   text-align: right;
    background-color: #333333;
    padding: 20px 0 20px 0;
    margin-bottom: 0px;
    margin-left: 0px;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 20px 0 0;
}
#navegador li a {
   padding: 7px 10px 7px 10px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #EDBEF4;
   color: #ffffff;
}

.padding-top{
  padding-top: 50px;
}
