<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foundation 5</title>
<link rel="stylesheet" href="./stylesheets/app.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

  <div id="navegador">
  <ul>
  <li><a href="#">3 ESO A</a></li>
  <li><a href="#">3 ESO B</a></li>
  <li><a href="#">3 ESO C</a></li>
  <li><a href="#">3 ESO D</a></li>
  </ul>
  </div>

<img src="img/foto6.png">

<div class="center">
  <h1>3 ESO C</h1>
</div>
<div class="row">
  <div class="small-7">
  <embed src="http://www.youtube.com/v/JW5meKfy3fY" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300">
  </div>
  <div class="small-5 justify">
  <h3>Texto de presentación</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut cursus lacus. Nullam tristique fermentum dignissim. Maecenas sapien nulla, blandit id est eget, faucibus consectetur lacus. Donec volutpat sit amet augue id gravida. Sed tincidunt tincidunt risus suscipit porttitor. Vivamus malesuada mi id velit dictum pulvinar. Sed nec vehicula nisl. Etiam egestas turpis purus. Quisque venenatis rutrum semper. Vestibulum nec velit quis urna dapibus varius.
  </p>
  </div>
</div>

<div class="center">
<h1>Entrivistados</h1>
</div>
<div class="row top">
<div class="small-4">
<img src="img/1.jpg" alt="" />
</div>
<div class="small-8">
  <h2>Judith Caramelo</h2>
  <p>
    la primera vez que he venido me e sentido sola o como en casa culo caca culo dos rabos con tres alcalchofas...
  </p>
</div>
</div>

<div class="row top">
  <div class="small-8">
    <h2>Judith Caramelo</h2>
    <p>
      la primera vez que he venido me e sentido sola o como en casa culo caca culo dos rabos con tres alcalchofas...
    </p>
  </div>
  <div class="small-4 img">
    <img src="img/1.jpg"/>
  </div>
</div>
<div class="row top">
<div class="small-4">
<img src="img/1.jpg" alt="" />
</div>
<div class="small-8">
  <h2>Judith Caramelo</h2>
  <p>
    la primera vez que he venido me e sentido sola o como en casa culo caca culo dos rabos con tres alcalchofas...
  </p>
</div>
</div>

<div class="row top">
  <div class="small-8">
    <h2>Judith Caramelo</h2>
    <p>
      la primera vez que he venido me e sentido sola o como en casa culo caca culo dos rabos con tres alcalchofas...
    </p>
  </div>
  <div class="small-4 img">
    <img src="img/1.jpg"/>
  </div>
</div>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
      $(document).foundation();
    </script>
  <script src="js/bundle.js"></script>
</body>

</html>
