.navegadorder {
	text-align: right;

}

.navegadoriz {
	float: left;
}

.menu{
	padding: 20px;
	background: #333;
	padding-right: 10%;
	padding-left: 10%;
}

.activao {
	color: #EDBEF4;
}

.margingeneral {
	margin: 40px;
	text-align: justify;
}

.portada {
	background-image: url(../img/750.png);
	background-position: center;
	background-size: 210%;
	background-repeat: no-repeat;
	width: 100%;
	height: 750px;
	background-color: #666;

}

.flecha {
	position: absolute;
	background-image: url(../img/flecha.png);
	background-repeat: no-repeat;
	margin-left: 50%;
	margin-top: 650px;
	transform: translate(-50%,);
	height: 35px;
	width: 50px;
	cursor: pointer;
}

.flecha2 {
	position: absolute;
	background-image: url(../img/flecha.png);
	background-repeat: no-repeat;
	margin-left: 50%;
	margin-top: 5%;
	transform: translate(-50%,);
	height: 35px;
	width: 50px;
	cursor: pointer;
}

.contenedorblanco1 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	padding-bottom: 130px;
	text-align: center;
}

.contenedorblanco {
	color: #333;
	background-color: #FCEDFF;
	height: auto;
	text-align: center;
}

.contenedornegro {
	color: #FCEDFF;
	background-color: #333;
	height: auto;
	text-align: center;
}

.bolas {
	width: 60.1%;
	margin-left: 50%;
	margin-top: 100px;
	transform: translate(-50%,-0%);
}

.pointer {
	margin: 20px;
	cursor: pointer;
	border-radius: 100%;
}

.video {
	float: left;
	width: 60%;
}

.historia1 {
	padding: 100px;
}

.descripcion {
	text-align: left;
	padding-left: 70%;
	padding-bottom: 60px;
}

.footer {

	margin: 0;
	height: 250px;
	background-color: #333;
}

.links {
	color: #FCEDFF;
	text-align: center;
	float: left;
	width: 40%;
	height: auto;
}

.footerlogo {
	color: #FCEDFF;
	text-align: center;
	float: left;
	width: 20%;
	height: auto;
}

.social {
	color: #FCEDFF;
	text-align: center;
	float: left;
	width: 40%;
	height: auto;
}

.copyright {
	padding-top: 60px;
	margin: 0;
	height: 250px;
	background-color: #333;
	color: #FCEDFF;
	text-align: center;
	width: 100%;
	height: auto;
	float: left;
}

a {
	text-decoration: none;
	color: #FCEDFF;
	margin: 20px;
	font-size: 30px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: -9px;
	overflow-x:hidden;
	background-color: #FCEDFF;

}